@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(
      180deg,
      rgba(46, 17, 88, 1) 13.89%,
      rgba(0, 0, 0, 1) 130%,
      rgba(228, 35, 255, 1) 14.65%
    )
    no-repeat;
  color: #f4f4f4;
}
